<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<h1 class="h4 titulo mb-2">Pesquisa de Produtos</h1>
<p *ngIf="!produtos">Carregando Produtos...</p>

<button class="btn btn-primary mb-2" (click)="adicionarProduto()">Adicionar Produto <span class="glyphicon glyphicon-floppy-disk"></span></button>

<table class="table table-hover" *ngIf="produtos">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th>Imagem</th>
      <th>Ações</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of produtos">
      <td>{{p.nome}}</td>
      <td style="width:50%">{{p.descricao}}</td>
      <td style="width:10%">R$ {{p.preco}}</td>
      <td><img src="../../../../../arquivos/{{p.nomeArquivo}}" style="width:60px;height:60px" /></td>
      <td><button class="btn  btn-primary btn-xs" (click)="editarProduto(p)" style="margin-top: 10px"><span class="glyphicon glyphicon-pencil"></span></button></td>
      <td><button class="btn btn-danger btn-xs" (click)="deletarProduto(p)" style="margin-left: -55px; margin-top: 10px"><span class="glyphicon glyphicon-trash"></span></button></td>
    </tr>
  </tbody>

</table>

