<div *ngIf="!produtos">Listando os produtos...</div>

<div class="container" *ngIf="produtos" >
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let p of produtos">
      <a (click)="abrirProduto(p)" style="cursor:pointer;">
        <div class="card">
          <img class="card-top mb-4" src="../../../../../arquivos/{{p.nomeArquivo}}"
               style="width: 100px; height: 100px; margin-top: 10px; margin-left: 5px" />
          <div class="card-body">
            <h5 class="card=title">{{p.nome}}</h5>
            <div>{{p.descricao | truncate: 70}}</div>
            <h5 class="h5">{{p.preco}}</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

